/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:none;}ul{list-style:none;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}

/* Main CSS */
body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	width:50em;
	margin:0 auto;
}
header, footer{
	display: block;
	width: 100%;
	background: #1b75bb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiNzViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTQyNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1b75bb 0%, #054271 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b75bb), color-stop(100%,#054271)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1b75bb 0%,#054271 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1b75bb 0%,#054271 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1b75bb 0%,#054271 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1b75bb 0%,#054271 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b75bb', endColorstr='#054271',GradientType=0 ); /* IE6-8 */
	color: #FFF;
}
header h1{
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
	margin-left:8%;
}
header h2{
	font-size: 1.7em;
	text-transform: uppercase;
	opacity: 0.5;
	margin: 0 0 0 8%;
}
header ul{
	display: inline-block;
	clear: right;
	list-style: none;
	margin: 1.7em 0 1.7em 8%;
	line-height: 1.4em;
}
header a, footer a{
	color: #FFF;
	text-decoration: none;
}
header img{
	display: inline-block;
	margin-left: 9em;
	margin-bottom: -3.5em;
	width: 20%;
	text-align: right;
}
nav{
	display:none;
}
section{
	padding: 1.7em 0 0 8%;
	margin-bottom: 1em;
}
section#experience, section#skills, section#values, section#influences, section#education{
	border: 1px #1b75bb solid;
}
section#experience{
	border-top: 0;
}
section#education{
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 1.7em;
}
/*
section#experience{
	position: relative;
	margin-left: 0;
}
section#experience section{
	margin-left: 8%;
}
section#experience h1:first-child{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(270deg);
    -o-transform-origin: left top;
    transform: rotate(270deg);
    transform-origin: 50% 160%;
	background-color: #1b75bb;
	color: #FFF;
	padding: 10px;
}
*/
section h1{
	font-size: 2em;
	font-weight: bold;
	margin: 0.3em 0;
	color: #999;
}
section section{
	margin-left: 0;
}
section section h1{
	font-size: 1.3em;
	font-weight: bold;
	margin: 0.3em 0;
	color: #000;
}
section p.timeline, section p.timeline a, section section h1:first-child{
	font-size: 1em;
	color: #999;
	text-transform: uppercase;
	text-decoration: none;
}
section#experience ul li:before{
  content: "\00BB\00a0";
}
section ul{
	line-height: 1.4em;
}
section section h1:first-child{
	display: block;
}
footer{
	padding: 1em 0;
	text-align: center;
}
